@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-azulElectrico: #007BFF;
  --color-NegroCarbon: #1A1A1A;
  --color-Blanco: #FFFFFF;
  --color-GrisClaro: #E5E5E5;
  --color-Verde-Azulado: #00C2A8;

  --font-Inter: "Inter", sans-serif;
  --font-Orbitron: "Orbitron", sans-serif;

}

@theme inline {

  --color-azulElectrico: #007BFF;
  --color-NegroCarbon: #1A1A1A;
  --color-Blanco: #FFFFFF;
  --color-GrisClaro: #E5E5E5;
  --color-Verde-Azulado: #00C2A8;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Inter);
}

::selection {
  background: #00C2A8; 
  color: #FFFFFF;      
}


@media (prefers-color-scheme: dark) {
  ::selection {
    background: #007BFF; 
    color: #FFFFFF;
  }
}

h1, h2, h3, .titulo {
  font-family: var(--font-Orbitron);
}